.container {
    display: flex;
    justify-content: center;
}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.App {
    background-color: rgba(135, 175, 135, 0.7);
}

h1 {
    text-transform: uppercase;
}

.search {
    width: 100%;
    padding: 15px 50px;
    background-color: transparent;
    color: #333332;
    box-shadow: inset 0px 5px 10px 0px rgba(3, 43, 24, 0.7);
}

button {
    background-color: #333332;
    color: aliceblue;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    list-style-type: none;
}

h1, h1, p, ul, button {
  font-family: "Raleway", sans-serif;
}
